.box1{

    position: sticky;
    top: 0;
    background-color: beige;
    padding: 20px;
    margin:20px;
    box-shadow: 20px;
    border: 2px solid black;

    text-align: center;
    
}

 @media screen and (max-width: 300) {

.bannerimg

 }


a{

    margin: 10px;
    font-size: 20px;
    box-shadow: 2px 2px 2px ;
    text-align: center ;
}

#gallery .imggrid img{
    width: 400;
    height: 300;
     object-fit: cover;
}

.about-container{
    display: flex;
    gap: 20px;
    max-width: 70%;
    margin: auto;
}
.lastbox{
        display: flex;
    flex-direction: row;
    align-items: center;
     padding: 20px;
    border: 2px solid black;
}

h2{

    text-align: center;
    text-decoration: underline;
    font-size: 40px;
}

.imggrid{

    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}
